## Árbol de decisión
Variable aleatoria x para predecir Y
* Nodos -> Variables aleatorias X
* Ramas -> Decisiones o reglas de X
* Hojas -> Valor de y bajo las decisiones tomadas para x

In [19]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import export_graphviz
from sklearn.externals.six import StringIO
from sklearn.model_selection import train_test_split
from IPython.display import Image
import pydotplus

In [20]:
#!pip install pydotplus

In [21]:
df = pd.read_csv("../datasets/rating-peliculas.csv")
df

,pelicula,genero,ratings-rotten,ratings-audiencia,costo-millones-usd,ano-estreno
0,(500) Days of Summer,Comedy,87,81,8,2009
1,"10,000 B.C.",Adventure,9,44,105,2008
2,12 Rounds,Action,30,52,20,2009
3,127 Hours,Adventure,93,84,18,2010
4,17 Again,Comedy,55,70,20,2009
...,...,...,...,...,...,...
554,Your Highness,Comedy,26,36,50,2011
555,Youth in Revolt,Comedy,68,52,18,2009
556,Zodiac,Thriller,89,73,65,2007
557,Zombieland,Action,90,87,24,2009
558,Zookeeper,Comedy,14,42,80,2011

In [22]:
df.columns

Index(['pelicula', 'genero', 'ratings-rotten', 'ratings-audiencia',
       'costo-millones-usd', 'ano-estreno'],
      dtype='object')

In [23]:
df.describe

<bound method NDFrame.describe of                  pelicula     genero  ratings-rotten  ratings-audiencia  \
0    (500) Days of Summer     Comedy              87                 81
1             10,000 B.C.  Adventure               9                 44
2               12 Rounds     Action              30                 52
3               127 Hours  Adventure              93                 84
4                17 Again     Comedy              55                 70
..                    ...        ...             ...                ...
554         Your Highness     Comedy              26                 36
555       Youth in Revolt     Comedy              68                 52
556                Zodiac   Thriller              89                 73
557            Zombieland     Action              90                 87
558             Zookeeper     Comedy              14                 42

     costo-millones-usd  ano-estreno
0                     8         2009
1                   105         2008
2                    20         2009
3                    18         2010
4                    20         2009
..                  ...          ...
554                  50         2011
555                  18         2009
556                  65         2007
557                  24         2009
558                  80         2011

[559 rows x 6 columns]>

In [24]:
# Definiendo una variable objetivo
y = df.genero
y.value_counts()

Comedy       172
Action       154
Drama        101
Horror        49
Thriller      36
Adventure     29
Romance       18
Name: genero, dtype: int64

In [25]:
len(y)

559

In [26]:
X = df.drop(['pelicula','genero'], axis=1)
X

     ratings-rotten  ratings-audiencia  costo-millones-usd  ano-estreno
0                87                 81                   8         2009
1                 9                 44                 105         2008
2                30                 52                  20         2009
3                93                 84                  18         2010
4                55                 70                  20         2009
..              ...                ...                 ...          ...
554              26                 36                  50         2011
555              68                 52                  18         2009
556              89                 73                  65         2007
557              90                 87                  24         2009
558              14                 42                  80         2011

[559 rows x 4 columns]

In [27]:
# Dividir en dos partes, el entrenamiento y lo que queremos obtener
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [28]:
# Declaramos un clasificador
# DecisionTreeClassifier para variables categoricas
# Eliminar la entropia se refiere a eliminar el desorden de elementos
clf = DecisionTreeClassifier(criterion='entropy', max_depth=3)
clf = clf.fit(x_train, y_train)
y_pred = clf.predict(x_test)
y_pred

array(['Comedy', 'Drama', 'Action', 'Comedy', 'Comedy', 'Action',
       'Comedy', 'Comedy', 'Comedy', 'Comedy', 'Drama', 'Comedy',
       'Comedy', 'Comedy', 'Drama', 'Comedy', 'Comedy', 'Comedy',
       'Action', 'Drama', 'Action', 'Comedy', 'Comedy', 'Drama', 'Action',
       'Comedy', 'Drama', 'Drama', 'Comedy', 'Comedy', 'Drama', 'Action',
       'Comedy', 'Comedy', 'Action', 'Drama', 'Drama', 'Comedy', 'Action',
       'Comedy', 'Action', 'Comedy', 'Drama', 'Comedy', 'Comedy',
       'Comedy', 'Drama', 'Action', 'Action', 'Drama', 'Comedy', 'Comedy',
       'Comedy', 'Action', 'Comedy', 'Comedy', 'Comedy', 'Comedy',
       'Drama', 'Drama', 'Drama', 'Comedy', 'Comedy', 'Action', 'Comedy',
       'Action', 'Action', 'Drama', 'Comedy', 'Drama', 'Comedy', 'Drama',
       'Drama', 'Comedy', 'Drama', 'Comedy', 'Comedy', 'Action', 'Action',
       'Action', 'Comedy', 'Drama', 'Comedy', 'Comedy', 'Comedy',
       'Comedy', 'Drama', 'Action', 'Drama', 'Comedy', 'Drama', 'Comedy',
       'Comedy', 'Drama', 'Action', 'Comedy', 'Action', 'Action', 'Drama',
       'Comedy', 'Comedy', 'Comedy', 'Drama', 'Action', 'Drama', 'Comedy',
       'Drama', 'Comedy', 'Comedy', 'Comedy', 'Action', 'Comedy'],
      dtype=object)

In [ ]:
!pip install graphviz

In [ ]:
import os
os.environ['PATH'] = os.environ['PATH']+';'+os.environ['CONDA_PREFIX']+r"\Library\bin\graphviz"

In [ ]:
dot_data = StringIO()
export_graphviz(clf, out_file=dot_data, filled=True, rounded=True, 
                special_characters=True, feature_names=X.columns, 
                class_names=y.value_counts().index)
graph = pydotplus.graph_from_dot_data(dot_data.getvalue())
graph.write_png('peliculas.png')
Image(graph.create_png())